{% extends "layout.html" %}
{% block content %}
<div class="about">
    <h1>About Rural Hospital Closure Risk Project</h1>
    <p>Python Group Project Fall 2019</p>
    <p>On the top of opiod crisis, high unemployment rate, American rural hospitals are closing in average of 10 per year.</p>
    <p>The topic seems to have gained a lot of interest from experts who try to understand the underlining factor in this new trend.</p>
    <p>The purpose of this dashboard is to explore the data of US rural hospital closure from 2005 to 2019.</p>
    <p> by Victor Casanova and Francis Kouakou</p>
</div>
{% endblock %}